/Ejercicio01/nbproject/private/
/Ejercicio02/nbproject/private/
/Ejercicio01/build/
/Ejercicio1/build/
/Ejercicio1/nbproject/private/
/Ejercicio02/build/
/ejercicio03/nbproject/private/
/ejercicio04/nbproject/private/
/ejercicio03/build/
/ejercicio05/nbproject/private/
/ejercicio05/build/
/ejercicio06/nbproject/private/
/ejercicio06/build/
/ejercicio04/build/
/ejercicio07/nbproject/private/
/ejercicio08/nbproject/private/
/ejercicio09/nbproject/private/
/ejercicio10/nbproject/private/
/ejercicio07/build/
/ejercicio08/build/
/ejercicio09/build/
/ejercicio10/build/
